
/* page backgroud clour change  */
body{
    background-color: #fcf6ec;  
}

/* nav bar colour */
  .navbar {
    background-color: rgb(240, 230, 200) !important;
}

  /* nav bar logo */
  .navbar-brand img {
    border-radius: 5px;
  }

   /* home/about us (nav bar) */

  .navbar-nav .nav-link {
    font-size: large;
    font-weight: 500;
    color: #100303;
  }
  
  .navbar-nav .nav-link:hover {
    color: #3010ce;
  }
  
  /* signin/signup */
  .btn-dark {
    background-color: #2c1e1e;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
  }
  
  .btn-outline-dark {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
  }

  /* categories box */
  .card {
    border: none;
    background-color:  #d7cbcb;
  }
  
  ul {
    padding-left: 0;
  }
  
  i {
    margin-right: 8px;
  }

   /* wedding and birthday event > button */

  .list-group-item {
    background-color: #eff1f4;
    color: #030202;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #5d1933;
    color: white;
    cursor: pointer;
  }
  
  .list-group-item i {
    color: #827568;
    transition: color 0.3s;
  }
  
  .list-group-item:hover i {
    color: white;
  }

/* Event / Birthday Themes and Concepts Design */

  .service-header {
    background-color: #837c71; /* Light background */
    border: 2px solid #121314; /* Blue border */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.service-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: white; /* Blue text */
    margin-right: 25%;
}
.toggle-icon {
    font-size: 1.5rem;
    color: rgb(155, 13, 13);
    margin-left: 30%;
}
.service-header:hover {
    background-color:#5d1933; /* Slight darkening on hover */
}
.service-content {
    display: none;
    padding: 15px;
    background-color: #d2d2ce;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
   
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}


.text-muted {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Custom Styles */
body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #0d0101;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}



.text-muted {
    color: #1a1515;
    font-size: 1.2rem;
    line-height: 1.6;
}

.text-center {
    text-align: center;
}

.contact-box, .text-box {
    background-color:#d7cbcb;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(227, 8, 8, 0.1);
    text-align: left;
}



.contact-link {
    text-decoration: none;
    color: rgb(184, 34, 34);
    font-weight: bold;
}

.contact-link:hover {
    color: rgb(13, 13, 20);
}

/* Order Now Button Styling */
.order-btn {
    font-size: 18px;
    padding: 10px 30px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(205, 11, 11, 0.2);
    
}

.order-btn:hover {
    background-color: rgb(65, 65, 36);
}

/* footer */

footer {
    background: #f69d3e42;
    padding-top: 50px;
    margin-top: 3%;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p, .footer-content ul {
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #2c1e13;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    padding: 0;
}

.social-icons li {
    display: inline-block;
    padding: 5px;
}

.social-icons i {
    color: rgb(35, 5, 140);
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(9, 8, 8);
}

.social-icons i:hover {
    color: rgb(180, 119, 119);
}

.bottom-bar {
    background: #f9e9b1;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    
}

.bottom-bar p {
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}



.row .col-lg-6 img{
    width: 500px;
    height: 500px;
}